<!doctype html>
<html class="no-js" lang="en">
<head>
  
    <!-- META -->
    <meta charset="UTF-8">
    <meta property="og:title" content=">Down.YT - Direct Downloads From YouTube">
    <meta property="og:description" content="Download videos from YouTube - Free and without install!">
    <meta property="og:image" content="<%= url %>/img/thumb.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Download videos from YouTube - Free and without install!">
    <meta name="keywords" content="tags, tag, etc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>Down.YT - Direct Downloads From YouTube</title>
    <!-- CSS -->
    <link rel="stylesheet" href="<%= url %>/css/foundation.min.css">
    <link rel="stylesheet" href="<%= url %>/css/<%= css %>">
    <link rel="stylesheet" href="<%= url %>/css/style-font.css">
    <link rel="stylesheet" href="<%= url %>/css/darktooltip.min.css">
  
</head>
<body data-url=""> <!-- Colocar no data dps url: <%= url %> --> <!--  Put on data-url before: <%= url %>-->
    <section id="all">
      <div id="line-top">
      </div>
      <div id="container-center">
        <div id="logo">
        </div>
        <%- body %>
    </div>
    <div id="container-right">
        <a href="#howuse">
          <div id="item" class="tooltip" data-tooltip="Help">
            ?
          </div>
         </a>


        <a href="https://www.facebook.com/pages/DownYT/562274617197469">
          <div id="item" class="tooltip" data-tooltip="Facebook">
            f
          </div>
        </a>

        <a href="https://github.com/matheusgimenez/down.yt">
          <div id="item" class="tooltip" data-tooltip="GitHub">
            <img src="<%= url %>/img/github-10-256.png" width="35" height="35" style="padding-top:2px;">
          </div>
        </a>

</div>
<div id="line-bottom">

</div>
</section>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-51759007-1', 'down.yt');
ga('send', 'pageview');
$(document).foundation();
</script>

<!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
  </script>
  <script src="<%= url %>/js/foundation.min.js">
  </script>
  <script src="<%= url %>/js/all.js">
  </script>
  <script src="<%= url %>/js/jquery.darktooltip.js">
  </script>

</body>
</html>
