<div id="select" data-id="<%= id %>"></div><!-- #select -->
<div id="container">
  <div id="name-video"><%= title %> Lorem ipsum dolor sit amet.</div>
  <div id="the-video">
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= id %>" frameborder="0" allowfullscreen>
    </iframe>
</div>
<div id="buttoms">
    <a href="#video-op">
      <div id="download-video">
        Download Video 
        <span id="dow">
          ▼ 
      </span>
      <ul id="vd-o">
        <%
        if(typeof _ref == 'string'){ %>
        <li><a id="bt-origin">Original format</a></li>
        <% }
    else{
        for (_i = 0, _len = _ref.length; _i < _len; _i++) {
            urlEncodedStream = _ref[_i];
            stream = decodeQueryString(urlEncodedStream);
            type = stream.type.split(";")[0];
            quality = stream.quality.split(",")[0];
            stream.original_url = stream.url;
            typestr = new String(type).trim();
            stream.url = "" + stream.url + "&signature=" + stream.sig
            if(typestr == 'video/mp4' || typestr == 'video/3gpp' ){  %>
            <li><a href="<%= stream.url %>" download="<%= id %>"><%= type + ' - '+ quality %></a></li>
            <% }
        } %>
        <% } %>
</ul>
</div>
</a>
<a id="mp3dl" href="#">
  <div id="download-mp3" >
   Download Audio (MP3)
</div>
</a>
<div id="musicModal" class="reveal-modal" style="display:none" data-reveal>
  <span id="modalTitle">
    Download MP3
</span>
<span id="modalTxt">
    Preparing files to Download
</span>
<div id="DowBtt">
    Loading...
</div>
</div>
</div>
</div>